@import _normalize
@import ../node_modules/bourbon/app/assets/stylesheets/_bourbon

$bg: #313131
$white: #f7f7f7

body
  background: $bg
  color: $white
  padding: 1em

textarea
  display: block
  width: 30em
  height: 5em
  margin-top: 1em
  margin-left: 4em
  font-family: monospace
  font-size: 1.4em

select#caesar-select
  display: block

.modes > div
  opacity: .1
  pointer-events: none
  &.mode-visible
    opacity: 1
    pointer-events: initial

.substitutions
  div
    display: inline-block
    margin-right: 1em
    margin-bottom: 1em
    border: 1px solid
    border-color: transparent
    border-radius: 4px
    padding: 3px
    &.changed
      border-color: $white
    > span
      min-width: 2.7em
      display: inline-block
      > span
        min-width: 1em
        display: inline-block
      span
        margin-right: .3em
    select
      margin-left: .5em
